html{
    min-height: 100%;
}

body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(65, 99, 211), rgb(211, 119, 135));
    margin: 0;
    padding: 30px;
    gap: 70px;
}

.topic{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-info{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.choices, .scoreboards{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.scoreboards{
    gap: 10%;
}


.result{
    display: none;
    justify-content: center;
    gap: 100px;
    text-align: center;
    flex-wrap: wrap;
}

.choice-text{
    margin-bottom: 30px;
}

button{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

img, button{
    transition-duration: 0.2s;
}

img:hover, button:hover{
    transition-duration: 0.2s;
    transform: scale(1.1);
}

.reset-game, .next-round{
    max-width: 200px;
    margin: 0 auto;
}

.next-round{
    display: none;
}

.game-result{
    display: flex;
    flex-direction: column;
    align-self: center;
}

