body{
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 110, 185);
    margin: 0;
    gap: 30px;
}

.topic{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.choices, .scoreboards{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.result{
    display: none;
    justify-content: center;
    gap: 100px;
    text-align: center;
}


img{
    transition-duration: 0.2s;
}

img:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
}

.reset-game{
    max-width: 200px;
    margin: 0 auto;
}

.next-round{
    align-items: center;
}

.game-result{
    display: flex;
    flex-direction: column;
}

